<div class="page">
    <div class="left accountnav">
        <myaccountnav></myaccountnav>
    </div>
    <div class="right">
        <div class="row">
            <h3>Approve/Reject</h3>
        </div>
        <div class="row">
            <div class="two columns">
                <label>Created By: </label>
            </div>
            <div class="nine columns">
                <label>{{username}}</label>
            </div>

        </div>
        <div class="row">
            <div class="two columns">
                <label>Title:</label>
            </div>
            <div class="nine columns">
                <label>{{title}}</label>
            </div>

        </div>
        <div class="row">
            <div class="two columns">
                <label>Author: </label>
            </div>
            <div class="nine columns">
                <label>{{author}}</label>
            </div>

        </div>
        <div class="row">
            <div class="two columns">
                <label>Description: </label>
            </div>
            <div class="nine columns">
                <div [innerText]="description"></div>
            </div>
        </div>

        <div class="row">
            <div class="two columns">
                <label>Attachment: </label>
            </div>
            <div class="nine columns">
                <a [attr.href]="sourceUrl" target="_blank">{{displayFileName}}</a>
            </div>
        </div>
        <div class="row">
            <div class="two columns">
                <label>Comments: </label>
            </div>
            <div class="nine columns">
                <textarea class="u-full-width" [(ngModel)]="comments"></textarea>
            </div>
        </div>
        <div class="row">
            <label [ngClass]="{'error' : approveError, 'success' : !approveError }">{{approveMessage}}</label>
        </div>
        <div class="row">
            <div class="twelve columns">
                <input class="button-primary" type="submit" value="Approve" (click)="approvalAction('approve')">
                <input class="button-delete" type="submit" value="Reject" (click)="approvalAction('reject')">
            </div>
        </div>
    </div>
</div>