<div class="page">
    <div class="left accountnav">
        <myaccountnav></myaccountnav>
    </div>
    <div class="right">
        <div class="row">
            <h3>Approval List</h3>
            <label *ngIf="count!==0">{{count.toLocaleString()}} records found.</label>
            <label *ngIf="count===0">No upload record found.</label>
            <!-- <label class="success" [ngClass]="{ 'error' : removeError}">{{removeMessage}}</label> -->
        </div>
        <div class="row">
            <div class="uploadResult" *ngFor="let a of approvalList | paginate: {itemsPerPage: itemperpage, currentPage: p, totalItems: count}">
                <a (click)="getDetail(a.userid, a.uploadid)">{{a.title}}</a>
                <label><i>Uploaded on {{a.lastupdate}}</i></label>
            </div>
        </div>
        <div class="row" *ngIf="count!==undefined && count!==0">
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
        </div>
    </div>
</div>