<div class="page">
    <div class="row" *ngIf="isAdmin" style="margin-top: 10px">
        <button (click)="deletePost()">Delete Post</button>
    </div>
    <div class="row">
        <label><b>{{title}}</b></label>
        <label><i>By {{username}}, {{lastupldatedate}}</i></label>
    </div>
    <div class="row">
        <div [innerText]="details"></div>
    </div>
    <div class="row">
        <label>Tags: {{tags}}</label>
    </div>
    <p></p>
    <div class="row">
        <label>Add comments</label>
        <textarea class="u-full-width" [(ngModel)]="comments"></textarea>
        <label [ngClass]="{'error' : commentError, 'success' : !commentError }">{{commentMessage}}</label>
        <div class="twelve columns alignright">
            <button (click)="addComments()">Add</button>
        </div>
    </div>
    <div class="row">
        <div class="searchResult" *ngFor="let result of commentList | paginate: {itemsPerPage: itemperpage, currentPage: p, totalItems: count}">
            <label>{{result.username}} </label>
            <label><i>added on {{result.lastupdate}}</i></label>
            <label>{{result.comments}}</label>
            <a (click)="deleteComment(result.commentid)" *ngIf="result.userid == loginUserId">Delete Comment</a>
        </div>
    </div>
    <div class="row" *ngIf="count!==undefined && count!==0">
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
</div>