<div class="page">
    <div class="row">
        <h3>Member Login</h3>
    </div>
    <div class="row">
        <div class="six columns">
            <label>Username or e-mail address <span class="required">*</span></label>
            <input class="u-full-width" type="text">
            <label class="hint">You may login with either your assigned username or your e-mail address.</label>
        </div>
    </div>
    <div class="row">
        <div class="six columns">
            <label>Password <span class="required">*</span></label>
            <input class="u-full-width" type="password">
            <label class="hint">The password field is case sensitive.</label>
        </div>
    </div>
    <div class="row">
        <div class="six columns">
            <input class="button-primary" type="submit" value="Login">
        </div>
    </div>
    <div class="row">
        <div class="six columns">
            <a routerLink='/forgotpassword'>Forgot password?</a>
        </div>
    </div>

</div>