/*parts of the page */
body, #container{
	width:85%;
	margin-left:auto;
	margin-right:auto;
}
body{
	background-color:#000020;
}
#container{
	border: 4px solid white;
	border-radius:25px;
	background-color:white;
}
header{
	background-color:#079aff;
	border-radius:20px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
nav{
	border-top: 2px dashed black;
	border-bottom: 2px dashed black;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
	margin-top:10px;
	margin-bottom:10px;

}

footer{
	border-top: 2px solid #FFB240;
	background-color: #ffd08a;
	border-radius: 20px;
	padding-bottom: 30px;
}
/*image settings*/
.logo{
	padding:10px 10px 10px 40px;
}

/*text settings*/
h1,h2, p{
	padding: 5px 40px;
}
/*link settings	*/
#logLink{
	float:right;
	text-decoration: none;
	text-align: right;
	font-size: 25px;
	margin-top: 5%;
	margin-right: 35px;
	font-color: white;
	background-color: white;
	padding: 5px 35px;
	border-radius: 20px;
}
.link{
	padding-left: 5px;
	margin-left: 25%;
	text-align: center;
	text-decoration: none;
	border-top: 2px solid #A65600;
	border-bottom: 2px solid #A65600;
	padding: 10px;
	border-radius: 15px;


}

a:hover{
	font-weight: bold;
	background-color: #FF9140;
}
a:visited{
 font-color:#4013AF;
}
/*text setting*/
h1,h2{
	font-family: "Arial Black", Gadget, sans-serif;
	font-weight: bold;
}
p{
 font-family: Arial, Helvetica, sans-serif;
}
h1{
	font-size:40px;
	color:#A64600;
}
h2{
	font-size:30px;
	color:#A64600;
}