/*parts of the page */

body {
    background-color: #222;
}

body,
#container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

#container {
    border: 4px solid white;
    /* border-radius: 25px; */
    background-color: white;
}

header {
    background-color: #ACD0EE;
    border-radius: 5px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

nav {
    margin-top: 10px;
    border-bottom: 3px solid #A64600;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav ul li {
    float: right;
    padding: 10px;
}

footer {
    background-color: rgb(251, 216, 178);
    border-radius: 5px;
    padding-bottom: 30px;
}

.searchResult {
    border-bottom: 1px solid #A64600;
    margin-top: 10px;
    margin-bottom: 20px;
}


/*image settings*/

.logo {
    padding: 10px 10px 10px 40px;
}


/*text settings*/


/* h1,
h2, */

h3 {
    padding-top: 20px;
    padding-bottom: 20px;
    /* padding: 20px 40px; */
}

h4 {
    padding-top: 20px;
}

.middle {
    padding-left: 40px;
    padding-right: 40px;
}

.page {
    min-height: 768px;
}

.page .row {
    padding-left: 40px;
    padding-right: 40px;
}

.nomargin {
    margin: 0;
}

label {
    font-weight: normal;
}

a {
    cursor: pointer;
}

.required {
    color: red;
}

.error {
    color: red;
}

.hint {
    font-size: 0.8em;
    color: #6a6a6a;
    margin-top: -15px;
    margin-bottom: 15px;
}

.usererror,
.passerror {
    margin-top: 8px;
}