<div class="page">
    <div class="row">
        <h3>Search Results</h3>
        <label *ngIf="count!==0">{{count}} records found.</label>
        <label *ngIf="count===0">No records found.</label>

    </div>
    <div class="row">
        <div class="searchResult" *ngFor="let result of searchResults">
            <a [attr.href]="result.source_url" target="_blank">{{result.title}}</a>
            <label>Author: {{result.creator}}</label>
            <label>Decription: {{result.description}}</label>
        </div>

    </div>
</div>