<div class="page">
    <div class="left accountnav">
        <myaccountnav></myaccountnav>
    </div>
    <div class="right">
        <div class="row">
            <h3>{{pageTitle}}</h3>
        </div>
        <form [formGroup]="uploadForm" enctype="multipart/form-data" novalidate>
            <div class="row">
                <div class="two columns">
                    <label>Title:<span class="required">*</span></label>
                </div>
                <div class="nine columns">
                    <input type="text" class="u-full-width" formControlName="title" />
                    <label *ngIf="uploadForm.controls['title'].invalid && uploadForm.controls['title'].touched" [ngClass]="{required : !uploadForm.controls['title'].valid }">
                    Please enter Title.</label>
                </div>

            </div>
            <div class="row">
                <div class="two columns">
                    <label>Author: </label>
                </div>
                <div class="nine columns">
                    <input type="text" class="u-full-width" formControlName="author" />
                    <label class="hint">Separate multiple authors by semicolon (;).</label>
                </div>

            </div>
            <div class="row">
                <div class="two columns">
                    <label>Description: </label>
                </div>
                <div class="nine columns">
                    <textarea class="u-full-width" style="resize: none" formControlName="description"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="two columns">
                    <label>Attachment:<span class="required">*</span></label>
                </div>
                <div class="nine columns">
                    <div *ngIf="editMode">
                        <a [attr.href]="sourceUrl" target="_blank">{{displayFileName}}</a>
                        <a title="Remove file" *ngIf="displayFileName!==''">
                            <fa name="trash" size="2x" (click)="removeFileCompletely()"></fa>
                        </a>
                    </div>
                    <div *ngIf="this.displayFileName === ''">
                        <input #selectedFile id="selectedFile" type="file" name="selectedFile" class="u-full-width" (change)="fileChanged($event)" required>
                        <label [ngClass]="{'error' : fileError, 'success' : !fileError}">{{fileMessage}}</label>
                        <div class="w3-light-grey">
                            <div #progressBar class="w3-green" style="height:25px;width:0">{{progressBar.style.width}} </div>
                        </div>
                    </div>
                    <br/>
                    <!-- <button *ngIf="showUploadButton" (click)="removeFile()">Remove File</button> -->
                    <button *ngIf="showUploadButton" (click)="uploadFile()">Upload File</button>

                </div>

            </div>
            <div class="row">
                <div class="two columns">
                    <label>Terms and Conditions:<span class="required">*</span></label>
                </div>
                <div class="nine columns">
                    <textarea class="u-full-width" style="resize: none"></textarea>
                    <input type="checkbox" formControlName="tc"> I accept the above terms and conditions.
                    <label *ngIf="uploadForm.controls['tc'].touched && uploadForm.controls['tc'].value !== true" [ngClass]="{required : !uploadForm.controls['tc'].value}">
                        You have to accept the terms and conditions to continue.</label>
                    <br/>
                    <br/>
                </div>
            </div>
            <div class="row">
                <label [ngClass]="{'error' : uploadError, 'success' : !uploadError }">{{uploadMessage}}</label>
            </div>
            <div class="row">
                <div class="twelve columns">
                    <input class="button-primary" type="submit" value="Save" (click)="submit()">
                    <input class="button-primary" type="submit" value="Submit for review" (click)="submitForReview()">
                    <input *ngIf="editMode" class="button-delete" type="submit" value="Delete" (click)="removeUpload()">
                </div>
            </div>
        </form>
    </div>
</div>