<div class="row">
    <div class="eight columns">
        <div class="two-thirds column">
            <input type="text" style="width:100%" placeholder="Enter your search..." [(ngModel)]='searchBar' />
        </div>
        <div class="one-third column">
            <a>
                <fa name="search" size="2x" (click)="search()"></fa>
            </a>
        </div>
    </div>
    <div class="four columns nav">
        <ul>
            <li><a>Message Board</a></li>
            <li><a routerLink='/login'>Member Login</a></li>
        </ul>
    </div>
</div>