<div class="page">
    <div class="left accountnav">
        <myaccountnav></myaccountnav>
    </div>
    <div class="right">
        <div class="row">
            <h3>Update Password</h3>
        </div>
        <div class="row">
            <form [formGroup]="passwordForm" novalidate>
                <div class="row">
                    <label>Old Password <span class="required">*</span></label>

                    <div class="twelve columns">
                        <div class="six columns">
                            <input class="u-full-width" type="password" formControlName="oldpassword">
                        </div>
                        <div class="six columns" *ngIf="passwordForm.controls['oldpassword'].invalid && passwordForm.controls['oldpassword'].touched" [ngClass]="{required : !passwordForm.controls['oldpassword'].valid  }">
                            <label class="passerror">The field is required.</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label>New Password <span class="required">*</span></label>
                    <div class="twelve columns">
                        <div class="six columns">
                            <input class="u-full-width" type="password" formControlName="newpassword">
                            <label class="hint">The password field is case sensitive.</label>
                        </div>
                        <div class="six columns" *ngIf="passwordForm.controls['newpassword'].invalid && passwordForm.controls['newpassword'].touched" [ngClass]="{required : !passwordForm.controls['newpassword'].valid  }">
                            <label class="passerror">The field is required.</label>
                        </div>


                    </div>
                </div>
                <div class="row">
                    <label>Confirm New Password <span class="required">*</span></label>
                    <div class="twelve columns">
                        <div class="six columns">
                            <input class="u-full-width" type="password" formControlName="confirmpassword">
                            <label class="hint">The password field is case sensitive.</label>
                        </div>
                        <div class="six columns" *ngIf="passwordForm.controls['confirmpassword'].invalid && passwordForm.controls['confirmpassword'].touched" [ngClass]="{required : !passwordForm.controls['confirmpassword'].valid  }">
                            <label class="passerror">The field is required.</label>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="twelve columns">
                        <input class="button-primary" type="submit" value="Update" (click)="updatePassword()">
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>