<div class="page">
    <div class="row">
        <h3>User Profile</h3>
    </div>
    <div class="row">
        <form>
            <div class="twelve columns">
                <label for="exampleEmailInput">Your email</label>
                <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="exampleEmailInput" disabled>
            </div>
            <div class="twelve columns">
                <label for="exampleEmailInput">Your Given Name</label>
                <input class="u-full-width" type="text" placeholder="Rayna">
            </div>
            <div class="twelve columns">
                <label for="exampleEmailInput">Your Family Name</label>
                <input class="u-full-width" type="text" placeholder="Feng">
            </div>
            <div class="six columns nomargin">
                <label for="exampleEmailInput">New Password</label>
                <input class="u-full-width" type="password">
            </div>
            <div class="six columns">
                <label for="exampleEmailInput">Confirm New Password</label>
                <input class="u-full-width" type="password">
            </div>

            <div class="twelve columns">
                <input class="button-primary" type="submit" value="Update">
            </div>
        </form>

    </div>
</div>