<div class="row">
    <div class="seven columns">
        <div class="two-thirds column">
            <input type="text" style="width:100%" placeholder="Enter your search..." [(ngModel)]="searchBar" />
        </div>
        <div class="one-third column">
            <a>
                <fa name="search" size="2x" (click)="search()"></fa>
            </a>
        </div>
    </div>
    <div class="five columns nav">
        <ul>
            <li *ngIf="memberlogin"><a (click)="logout()">Logout</a></li>
            <li><a routerLink='/postlist'>Message Board</a></li>
            <li *ngIf="!memberlogin"><a routerLink='/login'>Member Login</a></li>
            <li *ngIf="memberlogin"><a routerLink='/userprofile'>My Account</a></li>
            <!-- <li *ngIf="memberlogin"><a routerLink='/upload'>Upload</a></li> -->
        </ul>
    </div>
</div>