<div class="page">
    <div class="row">
        <h3>Search Results</h3>
        <label *ngIf="count!==0">{{count.toLocaleString()}} records found.</label>
        <label *ngIf="count===0">No records found.</label>

    </div>
    <div class="row">
        <div class="searchResult" *ngFor="let result of searchResults | paginate: {itemsPerPage: itemperpage, currentPage: p, totalItems: count}">
            <a [attr.href]="result.source_url" target="_blank">{{result.title}}</a>
            <label *ngIf="result.creator.length!=0">Author: {{result.creator}}</label>
            <label *ngIf="result.description!=null">{{result.description.length>206?result.description.substr(0,250)+'...' : result.description}}</label>
        </div>
    </div>
    <div class="row" *ngIf="count!==0">
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
</div>